<div class="card">
  <clr-alert *ngIf="message !== undefined" [clrAlertType]="'success'">
    <clr-alert-item>
      <span class="alert-text">
        {{  message  }}
      </span>
    </clr-alert-item>
  </clr-alert>
  <div class="card-block">
    <h2 class="card-title"><strong>{{ loadedSensor.name }}</strong> </h2>
    <p class="card-text">
      This sensor is connected to {{ loadedSensor.cloud }} cloud.
    </p>
  </div>
  <ul class="list-group">
    <li class="list-group-item"><b (click)="frequencyModalVisibility = true">Frequency: </b> {{loadedSensor.frequency}}
    </li>
    <li class="list-group-item"><b (click)="timeIntervalModalVisibility = true">Time Interval: </b>
      {{loadedSensor.timeInterval}} seconds.</li>
    <li class="list-group-item"><b (click)="rangeModalVisibility = true">Range: </b>
      {{loadedSensor.minRange + " - " + loadedSensor.maxRange }}</li>
  </ul>
  <div class="card-footer">
    <button *ngIf="spinnerVisibility === false" class="btn  btn-success" (click)="simulate()">Simulate</button>
    <div *ngIf="spinnerVisibility === true">
      <span class="spinner spinner-inline spinner-md">loading...</span>
      <span>Simulating...</span>
    </div>
    <button class="btn  btn-danger" (click)="deleteSensor()">Delete</button>
  </div>
  <div *ngIf="cloudName === 'aws'">
    <div *ngIf="rootCAExists === false">
      <clr-input-container>
        <input clrInput type="file" name="rootCA" (change)="onRootCASelected($event)" />
      </clr-input-container>
      <button class="btn btn-primary" type="button" (click)="onSubmitRootCA()">Upload RootCA</button>
    </div>
    <div *ngIf="rootCAExists === true">
      <h3>Root CA is uploaded.</h3>
      <button class="btn btn-sm btn-danger" type="button" (click)="deleteRootCA()">Delete</button>
    </div>

    <div *ngIf="privateKeyExists === false">
      <clr-input-container>
        <input clrInput type="file" name="privateKey" (change)="onPrivateKeySelected($event)" />
      </clr-input-container>
      <button class="btn btn-primary" type="button" (click)="onSubmitPrivateKey()">Upload Private Key</button>
    </div>
    <div *ngIf="privateKeyExists === true">
      <h3>Private Key is uploaded.</h3>
      <button class="btn btn-sm btn-danger" type="button" (click)="deletePrivateKey()">Delete</button>
    </div>


    <div *ngIf="certificateExists === false">
      <clr-input-container>
        <input clrInput type="file" name="certificate" (change)="onCertificateSelected($event)" />
      </clr-input-container>
      <button class="btn btn-primary" type="button" (click)="onSubmitCertificate()">Upload Certificate</button>
    </div>
    <div *ngIf="certificateExists === true">
      <h3>Certificate is uploaded.</h3>
      <button class="btn btn-sm btn-danger" type="button" (click)="deleteCertificate()">Delete</button>
    </div>



  </div>

</div>
<app-update-frequency [modalVisibility]="frequencyModalVisibility" (toggleModal)="frequencyToggleModal($event)">
</app-update-frequency>
<app-update-time-interval [modalVisibility]="timeIntervalModalVisibility"
  (toggleModal)="timeIntervalToggleModal($event)"></app-update-time-interval>
<app-update-range [modalVisibility]="rangeModalVisibility" (toggleModal)="rangeToggleModal($event)"></app-update-range>
