<h2>Add a Sensor which is connected to Thingworx Cloud.</h2>
<form clrForm>
  <clr-input-container>
    <label>Name</label>
    <input clrInput type="text" name="example" />
  </clr-input-container>
  <clr-input-container>
    <label>Connection</label>
    <input clrInput type="text" name="example" />
  </clr-input-container>
  <clr-input-container>
    <label>Format</label>
    <input clrInput type="text" name="example" />
  </clr-input-container>
  <clr-input-container>
    <label>Time Interval</label>
    <input clrInput type="text" name="example" />
  </clr-input-container>

  <clr-input-container>
    <label>Frequency</label>
    <input clrInput type="text" name="example" />
  </clr-input-container>
  <clr-input-container>
    <label>Minimum Range</label>
    <input clrInput type="text" name="example" />
  </clr-input-container>
  <clr-input-container>
    <label>Maximum Range</label>
    <input clrInput type="text" name="example" />
  </clr-input-container>
</form>
