<section class="clr-justify-content-center  clr-row">
  <div>
    <h1 style="color: #004A70; font-weight: 900;" class=" clr-col clr-align-self-center clr-justify-content-center">
      <b>Welcome to IoT Test Suite</b>
    </h1>
    <h4 style="color: #485969; font-weight: 600;" class="clr-col clr-align-self-center clr-justify-content-center">
      Simulate sensor behaviour...</h4>
    <img src="../../assets/home.jpg" class="clr-justify-content-center" alt="Hero Imgs">
    <button [routerLink]="['/dashboard']"
      class="clr-align-self-center clr-justify-content-center btn btn-outline clr-row">Get
      Started</button>

  </div>
</section>
